:root {
    --primary_color: #bc93f9;
    --secondary_color: #282a36;
}

body {
    margin: 0;
    background-color: var(--secondary_color);
    font-family: 'Oswald';
    color: var(--primary_color);
}